version: '3'
services:
  database:
    image: mysql:5.7
    container_name: mysql
    environment:
      - MYSQL_ROOT_USER=root
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=achatdb
    ports:
      - 3306:3306
    networks:
      - projectdevops

  spring-boot:
    depends_on:
      - database
    image: oumaymabenmkadem/achat:136
    container_name: springcontainer
    ports:
      - 8089:8089
    environment:
      SPRING_APPLICATION_JSON: '{
        "spring.datasource.url"  : "jdbc:mysql://database:3306/achatdb?useSSL=false",
        "spring.datasource.username" : "root",
        "spring.datasource.password" : "root",
        "spring.jpa.properties.hibernate.dialect" : "org.hibernate.dialect.MySQL5InnoDBDialect",
        "spring.jpa.hibernate.ddl-auto" : "update"
        }'
    networks:
      - projectdevops
    restart: on-failure
    
  sonarqube:
    container_name: sonarqube
    image: "sonarqube:8.9.7-community"
    ports:
      - "9001:9001"
    volumes:
      - 'sonarqube_data:/opt/sonarqube/data'
      - 'sonarqube_extensions:/opt/sonarqube/extensions'
      - 'sonarqube_logs:/opt/sonarqube/logs'
    networks:
      - projectdevops

volumes:
  sonarqube_logs:
  sonarqube_extensions:
  sonarqube_data:
  
networks:
  projectdevops:


